<div class="flex flex-col md:flex-row justify-around font-JosefinSans items-center mt-20">
    <!-- Left Column -->
    <div class="mb-6 md:mb-0">
        <div class="flex items-center mb-4">
            <i
                class="fa-solid fa-truck-fast text-3xl sm:text-4xl mr-2 transition-transform duration-300 text-slate-500 hover:scale-110"></i>
            <div>
                <strong class="text-lg sm:text-xl capitalize font-semibold text-black">Free Shipping & Returns</strong>
                <br>
                <span class="text-sm sm:text-lg text-gray-400">Free shipping on orders over $99.</span>
            </div>
        </div>
        <div class="flex items-center">
            <i
                class="fa-regular fa-clock text-3xl sm:text-4xl mr-2 transition-transform duration-300 text-slate-500 hover:scale-110"></i>
            <div>
                <strong class="text-lg sm:text-xl capitalize font-semibold text-black">Online Support 24/7</strong> <br>
                <span class="text-sm sm:text-lg text-gray-400">Lorem ipsum dolor sit amet.</span>
            </div>
        </div>
    </div>
    <!-- Right Column -->
    <div>
        <div class="flex items-center mb-4">
            <i
                class="fa-solid fa-circle-dollar-to-slot text-3xl sm:text-4xl mr-2 transition-transform duration-300 text-slate-500 hover:scale-110"></i>
            <div>
                <strong class="text-lg sm:text-xl capitalize font-semibold text-black">Money Back Guarantee</strong>
                <br>
                <span class="text-sm sm:text-lg text-gray-400">100% money back guarantee</span>
            </div>
        </div>
        <div class="flex items-center">
            <i
                class="fa-solid fa-credit-card text-3xl sm:text-4xl mr-2 transition-transform duration-300 text-slate-500 hover:scale-110"></i>
            <div>
                <strong class="text-lg sm:text-xl capitalize font-semibold text-black">Secure Payment</strong> <br>
                <span class="text-sm sm:text-lg text-gray-400">100% secure payment</span>
            </div>
        </div>
    </div>
</div>