<div class="bg-gray-400 p-4 font-JosefinSans w-full hidden lg:block 2xl:block md:block">
    <div class="flex flex-col lg:flex-row justify-between space-y-4 lg:space-y-0 lg:space-x-4 sm:space-y-0 sm:space-x-4">
        <div class="flex items-center space-x-2 w-full sm:w-auto">
            <p class="text-base text-gray-700 font-medium">
                Free shipping on all orders: No minimum purchase
            </p>
        </div>
        <div class="flex flex-col sm:flex-row items-start sm:items-center space-y-4 sm:space-y-0 sm:space-x-4 sm:w-auto">
            <div class="flex items-center space-x-2">
                <i class="fa-solid fa-phone text-lg text-gray-700"></i>
                <p class="text-base text-gray-700">+(123) 4567 890</p>
            </div>
            <div class="flex items-center space-x-2">
                <i class="fa-solid fa-location-dot text-lg text-gray-700"></i>
                <p class="text-base text-gray-700">Locations</p>
            </div>
        </div>
        <div class="flex flex-col sm:flex-row items-start sm:items-center space-y-4 sm:space-y-0 sm:space-x-2">
            <div class="relative sm:w-auto">
                <select id="language" name="language"
                    class="block bg-white text-black text-center border-gray-300 rounded-md pr-10 py-2 text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:w-auto">
                    <option value="en">ENGLISH</option>
                    <option value="es">SPANISH</option>
                    <option value="fr">FRENCH</option>
                </select>
            </div>
            <div class="relative sm:w-auto">
                <select id="currency" name="currency"
                    class="block bg-white text-black text-center border-gray-300 rounded-md pr-10 py-2 text-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:w-auto">
                    <option value="usd">USD</option>
                    <option value="eur">EUR</option>
                    <option value="gbp">GBP</option>
                </select>
            </div>
        </div>
    </div>
</div>