  <!-- contain section -->
<div>
    <div class=" justify-center text-center mt-10">
        <strong class="text-5xl font-JosefinSans  capitalize font-bold s:text-xl sm:text-3xl xl:text-2xl lg:text-5xl
        2xl:text-5xl md:text-5xl">sports shoes
            Accessories</strong>
    </div>
    <div class="flex space-x-4 justify-around mt-12">
        <div class="relative overflow-hidden group">
        <!-- image section -->
            <img src="assets/image/i-56.webp" alt=""
                class=" block transition-transform duration-300 group-hover:scale-110">
        <!-- icon section -->
            <!-- icon section -->
            <div
                class="absolute inset-0 bg-black flex items-center justify-center bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-50 ">
                <div
                    class="opacity-0 text-white flex space-x-3 transition-opacity duration-300 text-center hover:text-black group-hover:opacity-100">
                    <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="../home page/shoes1.html" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="relative overflow-hidden group">
            <!-- image section -->
            <img src="assets/image/i-57.webp" alt=""
                class="h-auto block transition-transform duration-300 group-hover:scale-110">
            <div
                class="absolute inset-0 bg-black bg-opacity-0 transition-all duration-300 flex items-center justify-center group-hover:bg-opacity-50 ">
                <!-- icon section -->
            <!-- icon section -->
            <div
                class="absolute inset-0 bg-black flex items-center justify-center bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-50 ">
                <div
                    class="opacity-0 text-white flex space-x-3 transition-opacity duration-300 text-center hover:text-black group-hover:opacity-100">
                    <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="../home page/shoes2.html" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>

            </div>
        </div>
        <div class="relative overflow-hidden group">
            <!-- image section -->
            <img src="assets/image/i-58.webp" alt=""
                class="h-auto block transition-transform duration-300 group-hover:scale-110">
            <div
                class="absolute inset-0 bg-black bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-50 flex items-center justify-center">
                <!-- icon section -->
            <!-- icon section -->
            <div
                class="absolute inset-0 bg-black flex items-center justify-center bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-50 ">
                <div
                    class="opacity-0 text-white flex space-x-3 transition-opacity duration-300 text-center hover:text-black group-hover:opacity-100">
                    <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="../home page/shoes3.html" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>

            </div>
        </div>
        <div class="relative overflow-hidden group">
            <!-- image section -->
            <img src="assets/image/i-59.webp" alt=""
                class="h-auto block transition-transform duration-300 group-hover:scale-110">
            <div
                class="absolute inset-0 bg-black bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-50 flex items-center justify-center">
                <!-- icon section -->
                <!-- icon section -->
                <div
                    class="absolute inset-0 bg-black flex items-center justify-center bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-50 ">
                    <div
                        class="opacity-0 text-white flex space-x-3 transition-opacity duration-300 text-center hover:text-black group-hover:opacity-100">
                        <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                            <i class="fa-solid fa-heart"></i>
                        </a>
                        <a href="../home page/shoes4.html" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="relative overflow-hidden group">
            <!-- image section -->
            <img src="assets/image/i-60.webp" alt=""
                class="h-auto block transition-transform duration-300 group-hover:scale-110">
            <div
                class="absolute inset-0 bg-black bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-50 flex items-center justify-center">
                <!-- icon section -->
            <!-- icon section -->
            <div
                class="absolute inset-0 bg-black flex items-center justify-center bg-opacity-0 transition-all duration-300 group-hover:bg-opacity-50 ">
                <div
                    class="opacity-0 text-white flex space-x-3 transition-opacity duration-300 text-center hover:text-black group-hover:opacity-100">
                    <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a href="../home page/shoes5.html" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <a href="#" class="text-lg hover:bg-white p-3 rounded-full border-2 border-solid bg-black">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>